<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Accounts Directory</title>
</head>

<body>

<div class="container">

	<h3>Accounts Directory</h3>
	<hr>
	
	<div>
		User: <span sec:authentication="name"></span>
		<br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	
	<p th:text="'Time on the server is ' + ${theDate}"></p>
	<br>
	
	
    <form th:action="@{/accounts/search}" class="form-inline">
    <a th:href="@{/reserves/list}"
			class="btn btn-secondary btn-sm mr-5 mb-3">
			Reservation List
		</a>
	<a th:href="@{/list}"
			class="btn btn-secondary btn-sm mr-5 mb-3">
			Room Info List
		</a>
	<hr>
    
    
    	<div sec:authorize="hasRole('ROLE_STAFF')">
		<a th:href="@{/accounts/showFormForAdd}"
			class="btn btn-primary btn-sm mr-5 mb-3">
			Add Account
		</a>
		</div>
		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="username" placeholder="Search by Type" />
		
		<button class="btn btn-success mb-3" type="submit">Search</button>
		
    </form>	
   
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Username</th>
				<th>Role</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempAutho : ${autho}">
			
				<td th:text="${tempAutho.username}" />	
				<td th:text="${tempAutho.authority}" />	
				
				<td>
					
					<div sec:authorize="hasRole('ROLE_STAFF')">

						<!-- Add "update" button/link -->
						<a th:href="@{/showFormForAccount(username=${tempAutho.username})}"
						   class="btn btn-info btn-sm">
							Update
						</a>

					</div>					
				
					<div sec:authorize="hasRole('ROLE_STAFF')">  
					
						<!-- Add "delete" button/link -->					
						<a th:href="@{/accounts/delete(username=${tempAutho.username})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this room?'))) return false">
							Delete
						</a>

					</div>					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
	
</div>
	
</body>
</html>

