<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Room Directory</title>
</head>

<body>

<div class="container">

	<h3>Room Directory</h3>
	<hr>
	
	<div>
		User: <span sec:authentication="name"></span>
		<br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	
	<p th:text="'Time on the server is ' + ${theDate}"></p>
	<br>
    <form th:action="@{/search}" class="form-inline">
    
    
		<a th:href="@{/reserves/list}"
			class="btn btn-secondary btn-sm mr-5 mb-3">
			Reservation List
		</a>
		<a th:href="@{/accounts}"
			class="btn btn-secondary btn-sm mr-5 mb-3">
			Accounts
		</a>
		<hr>    
    	<div sec:authorize="hasRole('ROLE_STAFF')">
		<a th:href="@{/showFormForAdd}"
			class="btn btn-primary btn-sm mr-5 mb-3">
			Add Room
		</a>
		</div>
		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="type" placeholder="Search by Type" />
		
		<button class="btn btn-success mb-3" type="submit">Search</button>
		
    </form>	
   
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Room ID</th>
				<th>Type</th>
				<th>Price</th>
				<th>Available</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempRoom : ${rooms}">
			
				<td th:text="${tempRoom.id}" />	
				<td th:text="${tempRoom.type}" />	
				<td th:text="${tempRoom.price}" />	
				<td th:text="${tempRoom.availability}" />	
				
				<td>
					
					<a th:href="@{/reserve(roomId=${tempRoom.id})}"
						  class="btn btn-info btn-sm" 
						  onclick="if (!(confirm('Are you sure you want to reserve this room?'))) return false">>
						Reserve
					</a>
					
					<div sec:authorize="hasRole('ROLE_STAFF')">

						<!-- Add "update" button/link -->
						<a th:href="@{/showFormForUpdate(roomId=${tempRoom.id})}"
						   class="btn btn-info btn-sm">
							Update
						</a>

					</div>					
				
					<div sec:authorize="hasRole('ROLE_STAFF')">  
					
						<!-- Add "delete" button/link -->					
						<a th:href="@{/delete(roomId=${tempRoom.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this room?'))) return false">
							Delete
						</a>

					</div>					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
	
</div>
	
</body>
</html>

